

form{
    width: 400px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

form h3{
    margin-bottom: 15px;
}

form input{
/* display: block; */
width: 300px;
margin: 3px 0;
padding: 8px ;
border:  #DBDBDB solid .01px;
border-radius: 5px;
}

input:hover{
    border:#262626 solid .01px ;
}
input:focus{
    outline: none;
}

input[type=text]:focus{
    border: #178733 solid .001px ;
}



form p a{
    color: #009ADF
}

form button{
cursor: pointer;
border: none;
border-radius: 5px;
margin: 15px 0;
padding: 10px 0;
width: 300px;
background-color: #178733;
color: white;
font-weight: 600;
}

form button:hover{
background-color: #1f8438;

}